{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<div class="container">
    <br>
    {% if user.is_authenticated %}
        <h1>Hello, {{user.username}}!</h1>
    {% else %}
        <h1>Hello, Guest</h1>
    {% endif %}
    <hr>
    <form action="{% url 'send_message' %}" method="post">{% csrf_token %}
        <div class="form-group">
            <label for="exampleFormControlTextarea1"></label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"
                placeholder="Enter your message here..." name="message"></textarea>
        </div>
        <div class="form-group row">
            <div class="col"><button type="submit" class="btn btn-primary btn-block">Send Message</button></div>
            <div class="col">
                <span>
                    <button type="submit" class="btn my_btn btn-primary btn-block"><a style="color: white;"
                            href="{% url 'contact_new' %}">+ new
                            contact</a></button>
                </span>
            </div>
        </div>
    </form>
    <br>
    <h2>List of recipents</h2>
    <ul class="list-group mt-2">
        {% for contact in contacts %}
        <hr>
        <li class="list-group-item bg-light">{{ contact.id_number | upper }} ({{ contact.name | title }})
            ({{contact.phone_number }})

            <button type="button" class="btn btn-danger float-right">
                <a style="color: white;" href="{% url 'delete_contact' contact.pk %}">Delete</a>
            </button>
            <button type="button" class="btn btn-primary float-right mr-4">
                <a style="color: white;" href="{% url 'edit_contact' contact.pk %}">Edit</a>
            </button>
        </li>
        {% empty %}
        <p class="text-danger">There are no Contacts added.</p>
        {% endfor %}
        <hr>
    </ul>
</div>
{% endblock content %}